In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('personality_dataset.csv')
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2837 non-null   float64
 1   Stage_fear                 2827 non-null   object
 2   Social_event_attendance    2838 non-null   float64
 3   Going_outside              2834 non-null   float64
 4   Drained_after_socializing  2848 non-null   object
 5   Friends_circle_size        2823 non-null   float64
 6   Post_frequency             2835 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [4]:
df.isnull().sum()

Time_spent_Alone             63
Stage_fear                   73
Social_event_attendance      62
Going_outside                66
Drained_after_socializing    52
Friends_circle_size          77
Post_frequency               65
Personality                   0
dtype: int64

In [5]:
df.describe()

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
count,2837.000000,2838.000000,2834.000000,2823.000000,2835.000000
mean,4.505816,3.963354,3.000000,6.268863,3.564727
std,3.479192,2.903827,2.247327,4.289693,2.926582
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,1.000000,3.000000,1.000000
50%,4.000000,3.000000,3.000000,5.000000,3.000000
75%,8.000000,6.000000,5.000000,10.000000,6.000000
max,11.000000,10.000000,7.000000,15.000000,10.000000

In [6]:
df['Time_spent_Alone'].isnull().sum()

63

In [7]:
df['Time_spent_Alone'].mean()

4.505816002819881

In [8]:
df['Time_spent_Alone'].fillna(df['Time_spent_Alone'].mean(), inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10780\3781932850.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Time_spent_Alone'].fillna(df['Time_spent_Alone'].mean(), inplace=True)

In [9]:
df.isnull().sum()

Time_spent_Alone              0
Stage_fear                   73
Social_event_attendance      62
Going_outside                66
Drained_after_socializing    52
Friends_circle_size          77
Post_frequency               65
Personality                   0
dtype: int64

In [10]:
df['Stage_fear'].isnull().sum()

73

In [11]:
df['Stage_fear'].value_counts()

Stage_fear
No     1417
Yes    1410
Name: count, dtype: int64

In [12]:
stage_fear_mode = df['Stage_fear'].mode()

In [13]:
df['Stage_fear'].fillna(df['Stage_fear'].mode()[0], inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10780\1479398204.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Stage_fear'].fillna(df['Stage_fear'].mode()[0], inplace=True)

In [14]:
df['Stage_fear'].isnull().sum()

0

In [15]:
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

In [16]:
df['Social_event_attendance'].isnull().sum()

62

In [17]:
df['Social_event_attendance'].mean()

3.963354474982382

In [18]:
df['Social_event_attendance'].fillna(df['Social_event_attendance'].mean(), inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10780\3405173187.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Social_event_attendance'].fillna(df['Social_event_attendance'].mean(), inplace=True)

In [19]:
df['Social_event_attendance'].isnull().sum()

0

In [20]:
df['Going_outside'].isnull().sum()

66

In [21]:
df['Going_outside'].fillna(df['Going_outside'].mean(), inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10780\4040829351.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Going_outside'].fillna(df['Going_outside'].mean(), inplace=True)

In [22]:
df['Going_outside'].isnull().sum()

0

In [23]:
df['Drained_after_socializing'].isnull().sum()

52

In [24]:
df['Drained_after_socializing'].fillna(df['Drained_after_socializing'].mode()[0], inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10780\838767490.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Drained_after_socializing'].fillna(df['Drained_after_socializing'].mode()[0], inplace=True)

In [25]:
df['Drained_after_socializing'].isnull().sum()

0

In [26]:
df['Friends_circle_size'].isnull().sum()

77

In [27]:
df['Friends_circle_size'].fillna(df['Friends_circle_size'].mean(), inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10780\217542521.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Friends_circle_size'].fillna(df['Friends_circle_size'].mean(), inplace=True)

In [28]:
df['Friends_circle_size'].isnull().sum()

0

In [29]:
df['Post_frequency'].isnull().sum()

65

In [30]:
df['Post_frequency'].fillna(df['Post_frequency'].mean(), inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10780\2934602085.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Post_frequency'].fillna(df['Post_frequency'].mean(), inplace=True)

In [31]:
df['Post_frequency'].isnull().sum()

0

In [32]:
df.isnull().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [33]:
df

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
...,...,...,...,...,...,...,...,...
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,3.0,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

# Train Test Split

In [34]:
X = df[['Time_spent_Alone', 'Stage_fear', 'Social_event_attendance', 'Going_outside', 'Drained_after_socializing', 'Friends_circle_size', 'Post_frequency']]
y = df['Personality']

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=10)

# One hot Encoding

In [36]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32)

In [37]:
X_train.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
881,6.0,Yes,0.0,1.0,Yes,5.0,2.0
1940,8.0,Yes,0.0,0.0,Yes,4.0,0.0
2054,9.0,Yes,1.0,1.0,Yes,1.0,0.0
1678,0.0,No,4.0,6.0,No,14.0,5.0
2189,0.0,No,6.0,4.0,No,14.0,8.0

In [38]:
X_train_encoded = encoder.fit_transform(X_train[['Stage_fear', 'Drained_after_socializing']])

In [39]:
X_test_encoded = encoder.transform(X_test[['Stage_fear', 'Drained_after_socializing']])

In [40]:
pd.DataFrame(X_train_encoded)

      0  1
0     1  1
1     1  1
2     1  1
3     0  0
4     0  0
...  .. ..
2170  0  0
2171  0  0
2172  1  1
2173  0  0
2174  0  0

[2175 rows x 2 columns]

In [41]:
X_train.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
881,6.0,Yes,0.0,1.0,Yes,5.0,2.0
1940,8.0,Yes,0.0,0.0,Yes,4.0,0.0
2054,9.0,Yes,1.0,1.0,Yes,1.0,0.0
1678,0.0,No,4.0,6.0,No,14.0,5.0
2189,0.0,No,6.0,4.0,No,14.0,8.0

In [42]:
X_train = np.hstack((X_train[['Time_spent_Alone', 'Social_event_attendance', 'Going_outside', 'Friends_circle_size', 'Post_frequency']].values, X_train_encoded))
X_test = np.hstack((X_test[['Time_spent_Alone', 'Social_event_attendance', 'Going_outside', 'Friends_circle_size', 'Post_frequency']].values, X_test_encoded))

In [43]:
X_train

array([[ 6.,  0.,  1., ...,  2.,  1.,  1.],
       [ 8.,  0.,  0., ...,  0.,  1.,  1.],
       [ 9.,  1.,  1., ...,  0.,  1.,  1.],
       ...,
       [11.,  2.,  1., ...,  1.,  1.,  1.],
       [ 3.,  4.,  6., ...,  3.,  0.,  0.],
       [ 3.,  7.,  5., ...,  3.,  0.,  0.]])

# Label Encoding

In [44]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [45]:
y_train = label.fit_transform(y_train)
y_test = label.transform(y_test)

# Multiple Linear Regression

In [46]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()

In [47]:
regression.fit(X_train, y_train)

LinearRegression()

In [48]:
y_pred = regression.predict(X_test)

In [49]:
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score
score = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mse)

print("R2 Score:", score)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("Root MSE:", rmse)

R2 Score: 0.7124707454681594
Mean Squared Error: 0.0718592018878872
Mean Absolute Error: 0.13587249618536934
Root MSE: 0.2680656671188745